*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Noto Sans TC", "Montserrat", "Playfair Display SC", sans-serif;
  $font-size-base: 16px;
  line-height: 1.2;
}
