*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: inherit;
}
// body {
//   font-family: "Noto Sans TC", "Montserrat", "Playfair Display SC", sans-serif;
//   $font-size-base: 16px;
//   line-height: 1.2;
// }

.custom-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: none;
  color: orange;
  border: none;
  border-bottom: 2px solid orange;
  cursor: pointer;
  position: relative;
  transition: background 0.3s, color 0.3s;
}
