<footer class="footer">
  <div class="container-fluid bg-primary py-12">
    <div class="container-lg">
      <!-- footer-top -->
      <div class="d-flex justify-content-between mb-4">
        <ul class="ul-left list-unstyled d-flex justify-content-between mb-0">
          <li><a href="#" class="fs-8 text-white">最新作品</a></li>
          <li><a href="#" class="fs-8 text-white">客製設計</a></li>
          <li><a href="#" class="fs-8 text-white">關於品牌</a></li>
          <li><a href="#" class="fs-8 text-white">專欄文章</a></li>
          <li><a href="#" class="fs-8 text-white">常見問題</a></li>
        </ul>
        <div class="footer-top-right d-flex justify-content-between">
          <img src="../assets/images/logo.png" alt="logo圖標" />
          <ul class="list-unstyled d-flex justify-content-between mb-0">
            <li>
              <a href="#"
                ><img
                  src="../assets/images/img_line.png"
                  alt="官方Line帳號圖案"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="../assets/images/img_fg.png" alt="官方FB帳號圖案"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="../assets/images/img_ig.png" alt="官方IG帳號圖案"
              /></a>
            </li>
          </ul>
        </div>
      </div>

      <!-- footer-line -->
      <hr />

      <!-- footer-bottom -->
      <div class="d-flex justify-content-between mt-4">
        <p>Copyright © 2023 綠羊 Green Sheep. All rights reserved.</p>
        <p>greensheepjewelry@gmail.com</p>
      </div>
    </div>
  </div>
</footer>
