<div class="text-center py-1 bg-primary text-white">
  即日起，訂單達 2,000元 以上即可享免運費優惠！
</div>
<div class="bg">
  <nav class="navbar navbar-expand-lg navbar-light bg-blur py-3">
    <div class="container">
      <h1 class="logo mb-0 me-8">
        <a class="navbar-brand" href="index.html"
          >Green Sheep handmade jewelry</a
        >
      </h1>
      <!-- menu icon 在sm時出現-->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="material-icons border-0 text-primary">menu</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto gap-4">
          <li class="nav-item dropdown" style="min-width: 101px">
            <a
              class="nav-link nav-item-en dropdown-toggle py-1 px-2"
              href="2-1.productPage.html"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              SHOP
            </a>
            <a
              class="nav-link nav-item-ch dropdown-toggle py-1 px-2"
              href="2-1.productPage.html"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              全部商品
            </a>
            <!-- dropdown-menu -->
            <ul
              class="dropdown-menu rounded-0 border-0 bg-light opacity-90 shadow p-0 position-absolute top-100 start-50 translate-middle-x"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li><a class="dropdown-item py-3 px-8" href="#">最新商品</a></li>
              <li>
                <a class="dropdown-item py-3 px-8" href="#">情人節禮物推薦</a>
              </li>
              <li><a class="dropdown-item py-3 px-8" href="#">優惠商品</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item py-3 px-8" href="#">戒指Ring</a></li>
              <li>
                <a class="dropdown-item py-3 px-8" href="#">耳環 Earrings</a>
              </li>
              <li>
                <a class="dropdown-item py-3 px-8" href="#">手環 Bracelet</a>
              </li>

              <li>
                <a class="dropdown-item py-3 px-8" href="#">項鍊 Pendant</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item py-3 px-8" href="#">925 純銀 Silver</a>
              </li>
              <li>
                <a class="dropdown-item py-3 px-8" href="#">14k金 14k Gold</a>
              </li>
              <li>
                <a class="dropdown-item py-3 px-8" href="#">18k金 18k Ｇold</a>
              </li>
            </ul>
          </li>
          <li class="nav-item" style="min-width: 130px">
            <a class="nav-link nav-item-en py-1 px-2" href="3-1.cusProduct.html"
              >CUSTOMISED</a
            >
            <a class="nav-link nav-item-ch py-1 px-2" href="3-1.cusProduct.html"
              >客製設計</a
            >
          </li>

          <li class="nav-item" style="min-width: 81px">
            <a class="nav-link nav-item-en py-1 px-2" href="4-1.Story.html"
              >ABOUT</a
            >
            <a class="nav-link nav-item-ch py-1 px-2" href="4-1.Story.html"
              >關於品牌</a
            >
          </li>

          <li class="nav-item" style="min-width: 81px">
            <a class="nav-link nav-item-en py-1 px-2" href="5-1.blog.html"
              >BLOG</a
            >
            <a class="nav-link nav-item-ch py-1 px-2" href="5-1.blog.html"
              >專欄文章</a
            >
          </li>

          <li class="nav-item" style="min-width: 81px">
            <a class="nav-link nav-item-en py-1 px-2" href="6-1.faq.html"
              >Q&A</a
            >
            <a class="nav-link nav-item-ch py-1 px-2" href="6-1.faq.html"
              >常見問題</a
            >
          </li>
        </ul>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
