<!-- 文章專欄及客戶好評 -->
<!-- 文章專欄 -->
<div class="container">
  <div>
    <a href="#">
      <img src="../assets/images/img-person.png" alt="文章圖片" />
      <p># News from GreenSheep</p>
    </a>
  </div>
  <div>
    <a href="#">
      <img src="../assets/images/img-article-1.png" alt="文章圖片" />
      <p>一件作品是怎麼誕生的呢？帶你一窺工藝師傅的工作日常</p>
    </a>
    <a href="#">
      <img src="../assets/images/img-article-2.png" alt="文章圖片" />
      <p>誕生石幫你傳達專屬心意</p>
    </a>
    <a href="#">
      <img src="../assets/images/img-article-3.png" alt="文章圖片" />
      <p>讓珠寶成為你的能量與活力</p>
    </a>
    <a href="#">
      <img src="../assets/images/img-about-font-bg.svg" alt="文章圖片" />
      <div>
        <img src="../assets/images/logo.svg" alt="logo" />
        <p>更多文章</p>
      </div>
      <button>Discover More</button>
    </a>
  </div>
</div>
