<!-- 文章專欄及客戶好評 -->
<!-- 文章專欄 -->
<div class="container-lg py-10 py-lg-16">
  <div class="py-5 py-lg-10 d-lg-flex test-one">
    <!-- article top&left -->
    <div class="test">
      <a href="#">
        <div class="card text-white white-border mb-6 me-lg-6">
          <img
            src="../assets/images/img-person.png"
            class="lt-card-img"
            alt="文章圖片"
          />
          <div
            class="card-img-overlay d-flex flex-column justify-content-end align-items-start ps-9 pb-9"
          >
            <p class="card-text"># News from GreenSheep</p>
          </div>
        </div>
      </a>
    </div>

    <!-- article bottom&right -->
    <ul class="list-unstyled">
      <div class="d-flex mb-4 mb-lg-6">
        <!-- 第一個 -->
        <li class="article-br me-4 col-lg-6">
          <a href="#">
            <div class="card text-white">
              <img
                src="../assets/images/img-article-1.png"
                class="card-img"
                alt="文章圖片"
              />
              <div
                class="card-img-overlay d-flex flex-column justify-content-end px-4 pb-4 px-lg-5 pb-lg-5"
              >
                <p class="card-text text-start">
                  一件作品是怎麼誕生的呢？帶<span class="span-one">···</span
                  ><span class="span-two">你一窺工藝師傅的工作日常</span>
                </p>
              </div>
            </div>
          </a>
        </li>
        <!-- 第二個 -->
        <li class="article-br col-lg-6">
          <a href="#">
            <div class="card text-white">
              <img
                src="../assets/images/img-article-2.png"
                class="card-img"
                alt="文章圖片"
              />
              <div
                class="card-img-overlay d-flex flex-column justify-content-end px-4 pb-4 px-lg-5 pb-lg-14"
              >
                <p class="card-text text-start">誕生石幫你傳達專屬心意</p>
              </div>
            </div>
          </a>
        </li>
      </div>
      <div class="d-flex">
        <!-- 第三個 -->
        <li class="article-br me-4 col-lg-6">
          <a href="#">
            <div class="card text-white">
              <img
                src="../assets/images/img-article-3.png"
                class="card-img"
                alt="文章圖片"
              />
              <div
                class="card-img-overlay d-flex flex-column justify-content-end align-items-start px-4 pb-4 px-lg-5 pb-lg-14"
              >
                <p class="card-text text-start">讓珠寶成為你的能量與活力</p>
              </div>
            </div>
          </a>
        </li>
        <!-- 第四個 -->
        <li class="more-content">
          <a href="#">
            <div
              class="card background-gradient more-content d-flex justify-content-center align-items-center"
            >
              <img
                src="../assets/images/border.svg"
                class="more-content-img"
                alt="圖片"
              />
              <div
                class="card-img-overlay contents d-flex flex-column justify-content-end align-items-center justify-content-lg-center"
              >
                <div>
                  <img
                    src="../assets/images/logo-green.svg"
                    alt="logo"
                    class="contents-logo"
                  />
                  <p class="contents-text text-primary pt-3">更多文章</p>
                </div>

                <a
                  href="#"
                  class="fs-8 py-2 px-3 text-start custom-btn custom-btn-secondary mb-11"
                  >Discover More
                </a>
              </div>
              <div></div>
            </div>
          </a>
        </li>
      </div>
    </ul>
  </div>
</div>

<!-- 客戶好評 -->
<div class="container-lg pt-10 pb-30 py-lg-16">
  <div>
    <!-- 感謝標語 -->
    <div class="custom-title mb-6">
      <p class="text-primary mb-1">感謝客戶支持</p>
      <h2>thank you</h2>
    </div>
    <!-- 客戶評價 -->
    <ul class="custom-lists list-unstyled py-5 mb-6 d-lg-flex py-lg-10">
      <li class="mb-4 col-lg-3 mb-lg-0">
        <a href="#"
          ><img src="../assets/images/img-evaluate-1.png" alt="客戶評價圖片"
        /></a>
      </li>
      <li class="mb-4 col-lg-3 mb-lg-0">
        <a href="#"
          ><img src="../assets/images/img-evaluate-2.png" alt="客戶評價圖片"
        /></a>
      </li>
      <li class="mb-4 col-lg-3 mb-lg-0">
        <a href="#"
          ><img src="../assets/images/img-evaluate-3.png" alt="客戶評價圖片"
        /></a>
      </li>
      <li class="col-lg-3">
        <a href="#"
          ><img src="../assets/images/img-evaluate-4.png" alt="客戶評價圖片"
        /></a>
      </li>
    </ul>
    <!-- 結尾logo -->
    <div
      class="custom-footer d-flex flex-column justify-content-center align-items-center"
    >
      <img src="../assets/images/logo-white.svg" alt="logo" class="mb--2" />
      <a href="https://www.instagram.com/greensheep_jewelry/" target="_blank"
        ><p class="display-7">@greensheep_jewelry</p></a
      >
    </div>
  </div>
</div>
