    <!-- 第三部分(jason) -->
    <!-- 客製化 -->
<div class="container mb-16">
    <div class="row">
      <div class="col-12 bg-image position-relative box">
        <img class="position-absolute position-absolute top-60 start-50 translate-middle zindex-dropdown" src="../assets/images/img_diy_center.png" alt="img_diy_center">
        <img class="position-absolute position-absolute top-20 start-28 translate-middle zindex-sticky" src="../assets/images/img_diy_font.png" alt="img_diy_font">
        <img class="position-absolute position-absolute top-60 start-21 translate-middle zindex-sticky" src="../assets/images/img-diy-left.png" alt="img-diy-left">
        <div class="col-3 position-absolute position-absolute top-60 start-87 translate-middle text-start">
            <h6 class="text-white fs-6 mb-1">開始客製屬於您的產品</h5>
          <h3 class="text-white fs-2 mb-4" >CUSTOMIZE YOUR STYLE</h3>
          <p class="text-light mb-1 fs-8">2 個步驟創作你的專屬心意</p>
          <p class="text-light mb-4 fs-8">Create Your Unique Elegance</p>
          <p class="text-decolight mb-4">Step 1：選擇專屬寶石</p>
          <p class="text-decolight mb-4">Step 2：輸入你想說的話</p>
          <a href="#" class=" text-secondary fs-8 py-2 px-3 border-bottom border-secondary text-decoration-none w-50">Start Now</a>
        </div>
      </div>
  
    </div>
  </div>
  <div class="container py-10 px-6">
    <p class="text-primary fs-6 mb-1">為什麼選擇我們</p>
    <h3 class="fs-2">WHY GREEN SHEEP HANDMADE JEWELRY?</h3>
    <ul class="col-12 d-flex">
    <li class="col-3 pe-6">
      <img class="mb-3 " src="/assets/images/diamond.png" alt="">
      <p class="text-dark mb-3">最高品質保證</p>
      <p class="text-grey9F fs-8 lh-lg">品牌堅持以最高品質來製作每一件作品，所有作品均選用天然寶石與優質的金屬材料，確保每一件作品都散發絕佳光彩。</p>
    </li>
    <li class="col-3 pe-6">
      <img class="mb-3" src="/assets/images/car.png" alt="">
      <p class="text-dark mb-3">全球配送</p>
      <p class="text-grey9F fs-8 lh-lg">我們樂於將綠羊作品傳遞至世界各地，不論您身在何處，我們提供全球配送服務，確保您能夠輕鬆地有我們的珠寶飾品。</p>
    
    </li>   <li class="col-3 pe-6">
      <img class="mb-3" src="/assets/images/return.png" alt="">
      <p class="text-dark mb-3">完善退換貨機制</p>
      <p class="text-grey9F fs-8 lh-lg">我們尊重每一位客戶的選擇，提供完善退換貨機制，若您對購買的作品(客製商品除外)有任何疑慮或不滿意，請隨時與我們聯繫，我們將竭誠為您解決。</p>
    
    </li>   <li class="col-3 pe-6">
      <img class="mb-3" src="/assets/images/drew.png" alt="">
      <p class="text-dark mb-3">原創設計手工製作</p>
      <p class="text-grey9F fs-8 lh-lg">綠羊品牌的每一件作品都是由專業的設計師原創設計，並由台灣資深金工師傅手工製作。這使得每一件作品都散發著原創的獨特風格，讓您感受到我們的用心與品質保證。</p>
    </li>
    </ul>
  </div>

  <div class="container">
  <div class="bg-image2 mt-16 text-white py-24 ">
    <h3 class="fs-2 mt-21 mb-10">EMBRACE YOUR INNER GREEN SHEEP</H3>
      <p class="col-8 fs-6 lh-lg mx-auto">綠羊 GreenSheep handmade jewelry 是獨特而優雅的。他代表著對自然的敬畏，彷彿迷人的綠洲，帶給人們內心的平靜與柔和。每一位佩戴者都像一隻羊，柔軟而堅定，他們不害怕與眾不同，因為他們知道自己是最優雅的綠羊。</p>
  </div>
</div>