
    <!-- 第二部分(仙貝) -->
    <!-- 產品類別 -->
    <div class="container py-16">
        <h2 class="fs-6 text-center mb-1 text-primary">產品類別</h2>
        <h3 class="fs-2 mb-6 text-center text-primary">OUR COLLECTIONS</h3>
        <div class="row">
            <div class="col-3">
                <div class="card text-white border-0 rounded-0">
                    <img src="/assets/images/img-item-1.png" class="card-img img-fluid border-0 rounded-0" alt="...">
                    <div class="card-img-overlay d-flex flex-column-reverse align-items-start ">
                        <h5 class="card-title fs-4 p-3">PENDANT</h5>
                    </div>
                </div>
            </div>
    
            <div class="col-3">
                <div class="card text-white border-0 rounded-0">
                    <img src="/assets/images/img-item-2.png" class="card-img img-fluid border-0 rounded-0" alt="...">
                    <div class="card-img-overlay d-flex flex-column-reverse align-items-start">
                        <h5 class="card-title fs-4 p-3">RING</h5>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white border-0 rounded-0">
                    <img src="/assets/images/img-item-3.png" class="card-img img-fluid border-0 rounded-0" alt="...">
                    <div class="card-img-overlay d-flex flex-column-reverse align-items-start">
                        <h5 class="card-title fs-4 p-3">EARRINGS</h5>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white border-0 rounded-0">
                    <img src="/assets/images/img-item-4.png" class="card-img img-fluid border-0 rounded-0" alt="...">
                    <div class="card-img-overlay d-flex flex-column-reverse align-items-start">
                        <h5 class="card-title fs-4 p-3">BRACELET</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 極致工藝 -->
    
    <div class="container py-16">
        <h2 class="fs-6 mb-1 text-center text-primary">極致工藝與藝術追求</h2>
        <h3 class="fs-2 mb-6 text-center text-primary">ARTS AND CRAFTS</h3>
    
        <div class="craft-content d-flex justify-content-between position-relative ">
            <img src="/assets/images/img-introduce.png" alt="" class="img-fluid ">
            <img src="/assets/images/image-15.png" alt="" class="img-fluid ">
    
            <div class="card position-absolute py-24 px-12 bg-primary opacity-75 backdrop-blur-10"
                style="max-width: 536px; border-radius: 80px 0; top:15%; left:53%;"> <!--寫在style的內容需要改寫在scss中-->
                <div class="card-body">
                    <h5 class="card-title fs-6 text-white">Radiate Confidence, Blossom in Brilliance</h5>
                    <p class="card-text py-4 fs-8 text-white" style="line-height: 200%;">
                        每一件珠寶都是一個故事的開端，他們不僅是獨特設計的結晶，更是佩戴者心靈的寄託。以傳統經典風格為基礎，注入優雅的細節和精湛工藝，綻放永恆時尚展現你的自信光芒。
                    </p>
                    <a href="#" class="card-link  border-bottom py-2 px-3 fs-8 text-white">SHOP NOW</a>
                </div>
            </div>
    
            <p class="text-primary position-absolute top-50 end-0" style="writing-mode: vertical-rl">@greensheep_jewelry</p>
    
        </div>
    </div>
    
    <!-- 產品類別 -->
    <div class="container py-16">
        <div class="row">
            <div class="col-3 d-flex flex-md-column justify-content-center ">
                <h2 class="fs-6 text-primary text-start">熱賣商品</h2>
                <h3 class="fs-2 mb-5 text-primary text-start">OUR BEST SELLERS</h3>
                <a href="" class="text-secondary fs-8 py-2 px-3 border-bottom border-secondary text-decoration-none w-50">Discover More</a>
            </div>
            <div class="col-3">
                <div class="card  text-white border-0"
                    style="background:linear-gradient(180deg, rgba(68, 94, 73, 0.05) 0%, rgba(68, 94, 73, 0.50) 100%);">
                    <img src="/assets/images/img-prod-1.png" class="card-img opacity-75 img-fluid " alt="">
                    <div class="card-img-overlay d-flex flex-column justify-content-end p-5 align-items-lg-start ">
                        <h5 class="card-title fs-6 mb-2">波光粼粼</h5>
                        <p class="card-text text-warning fs-7 mb-2">NT$ 4,500</p>
                        <p class="card-text fs-8">耳環 / 925純銀 / 海水藍寶</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card  text-white border-0"
                    style="background:linear-gradient(180deg, rgba(68, 94, 73, 0.05) 0%, rgba(68, 94, 73, 0.50) 100%);">
                    <img src="/assets/images/img-prod-2.png" class="card-img opacity-75 img-fluid" alt="">
                    <div class="card-img-overlay d-flex flex-column justify-content-end p-5 align-items-lg-start">
                        <h5 class="card-title fs-6 mb-2">天使之愛十字架</h5>
                        <p class="card-text text-warning fs-7 mb-2">NT$ 1,980 <span
                                class="text-decoration-line-through text-white fs-7 mb-2">2,200</span></p>
                        <p class="card-text fs-8">耳環 / 925純銀 / 海水藍寶</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card  text-white border-0"
                    style="background:linear-gradient(180deg, rgba(68, 94, 73, 0.05) 0%, rgba(68, 94, 73, 0.50) 100%);">
                    <img src="/assets/images/img-prod-3.png" class="card-img opacity-75 img-fluid" alt="">
                    <div class="card-img-overlay d-flex flex-column justify-content-end p-5 align-items-lg-start">
                        <h5 class="card-title mb-2">永恆婚約對戒</h5>
                        <p class="card-text text-warning mb-2">NT$ 38,880</p>
                        <p class="card-text mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-circle-fill" viewBox="0 0 16 16" style="color:yellow">
                                <circle cx="8" cy="8" r="8" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-circle-fill ms-2" viewBox="0 0 16 16" style="color:#9F9F9F;">
                                <circle cx="8" cy="8" r="8" />
                            </svg>
                        </p>
                        <p class="card-text fs-8">戒指 / 18K金 / 鑽石</p>
                    </div>
                </div>
            </div>
    
        </div>
    </div>