//背景米色漸層
.background-gradient {
  background: linear-gradient(180deg, #e5e5e5, #f4ede1, #f4f0e8, #f4f4ee);
  max-width: 100%;
  overflow: hidden;
  height: auto;
}

//正常大小寫標題字
.font-nosc-playfair {
  font-family: "Playfair Display", serif;
}
//單純noto serif字體
.font-noto-serif {
  font-family: "Noto Serif TC", sans-serif;
}

//以下為仙貝新增
.backdrop-blur {
  backdrop-filter: blur(10px);
}

.text-vertical {
  writing-mode: vertical-rl;
}

.border-radius-80 {
  border-radius: 80px 0;
}

.border-radius-40 {
  border-radius: 40px 0;
}
//以上為仙貝新增(8/18)

//以下為Rita 新增（8/25)
//在商品列表中，如果有需要選擇金色銀色就可以使用
//如需看架構範例，可看2-1.productPage.html第183行

.color-choose {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid $light;
  background-color: $deco;
}
.color-gold {
  background-color: $deco;
}
.color-silver {
  background-color: $grey9F;
}

//滑鼠滑過時，下方文字會顯示下底線
.h-bottom-line {
  a {
    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: $primary;
      transform: scalex(0); //Ｘ軸為基準，物件尺寸0
      transform-origin: left; //起始點由左側開始
      transition: transform 0.4s ease;
    }
    &:hover::after {
      transform: scalex(1); //Ｘ軸為基準，物件尺寸100%
    }
  }
}
