.logo {
  a {
    display: block;
    background-image: url("../assets/images/logo.svg");
    width: 12.5rem;
    height: 2.5rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }
}

.bg-blur {
  background: rgba(20, 20, 20, 0.2);
  backdrop-filter: blur(10px);
}
.navbar-hover {
  background: rgba(20, 20, 20, 0.2);
  transition: background-color 0.3s, color 0.3s;
  border-bottom: 1px solid transparent;

  &:hover {
    background: $light;
    border-bottom: 1px solid $greyD4;
    .nav-link {
      color: #566b5a;
    }
  }
}
.opacity-90 {
  opacity: 0.9;
}

//中英文字轉換
.nav-item {
  position: relative;
  &-en {
    opacity: 1;
    color: $white;
    transition: opacity 0.4s ease-out;
  }
  &-ch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }
  &:hover {
    .nav-item-en {
      opacity: 0;
    }
    .nav-item-ch {
      opacity: 1;
      font-family: "Montserrat", sans-serif;
      color: $primary;
    }
  }
}

// header icon
.header-form {
  .input-group {
    border-bottom: 1px solid $white;
  }
  .form-control {
    // box-shadow: none;
    caret-color: #566b5a;
  }
}
.search-box {
  &::placeholder {
    color: $white;
  }
}
.no-box-shadow {
  box-shadow: none !important;
}
