//首頁banner
.bg-banner {
  background: url(../assets/images/img.png);

  height: 1000px;
  margin-top: -64px;
  margin-left: -72px;
  margin-right: -72px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -500;
}
//標題後半圓弧型
.bg-banner-blur {
  border-radius: 0px 500px 0px 0px;
  border-top: 1px solid var(--white, #fff);
  border-right: 1px solid var(--white, #fff);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(10px);
  width: 488px;
  height: 579px;
  left: 0;
  top: 368px;
  z-index: 0;
}
//文字與社群icon
.banner-content {
  padding-top: 478px;
}
.banner-icon {
  a {
    background: transparent;
    border-radius: 50%;
    transition: background 0.5s;
    &:hover {
      background: $white;
    }
    &:active {
      background: $white;
    }
  }
}
//關於品牌左邊長條背景
.bg-long-stripe {
  background-image: url(../images/img-about-2.png);
  width: 280px;
  height: 540px;
  top: 824px;
  left: 100px;
}
//關於品牌右邊方形背景
.bg-square-stripe {
  background-image: url(../images/img-about-4.png);
  width: 357px;
  height: 350px;
  top: 830px;
  right: -137px;
}
//關於品牌左邊圖片
.bg-image-left {
  background-image: url(../images/img-about-1.png);
  width: 196px;
  height: 300px;
  top: 1063px;
  left: 72px;
}
//關於品牌右邊圖片
.bg-image-right {
  background-image: url(../images/img-about-3.png);
  width: 416px;
  height: 128px;
  top: 940px;
  right: 72px;
}
.about-me {
  padding-top: 89px;
  padding-bottom: 34px;
}
//裝飾圈圈滑過抖動
.deco-spin {
  &:hover {
    .deco-circle {
      animation: headShake 1s linear infinite;
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.animate__headShake {
  -webkit-animation-name: headShake;
  animation-name: headShake;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
///

//綠羊裝飾
.deco-sheep {
  img {
    width: 155px;
    height: auto;
    bottom: 0;
    right: 50px;
  }
}
