<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/GreenSheep.png"
    />
    <!-- og -->
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Green Sheep handmade jewelry | 在珠寶中尋覓你獨特優雅之美  "
    />
    <meta
      property="og:description"
      content="綠羊創造屬於每位佩戴者獨特故事與風采的珠寶，就像每一顆寶石都是無可取代的珍寶，蘊含著原創的設計，閃耀著自信與優雅。我們希望透過這些珠寶，讓每一位佩戴者感受到自身的獨特與美麗，成為這個世界上最獨一無二的存在。"
    />
    <meta property="og:image" content="../assets/images/ogimage.JPG" />
    <meta
      property="og:url"
      content="https://wuweitsung.github.io/Team-project/"
    />
    <meta
      property="og:site_name"
      content="Green Sheep handmade jewelry | 在珠寶中尋覓你獨特優雅之美"
    />
    <title>GreenSheep handmade jewelry</title>
  </head>

  <body>
    <div class="background-gradient">
      <%- include('./layout/header'); -%>

      <!-- 首圖Swiper -->
      <div class="swiper mySwiper" style="margin-top: -65px">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../assets/images/swiper-banner-1.jpg" alt="金色鏈子" />
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/swiper-banner-2.jpg"
              alt="金色多層次項鍊"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/swiper-banner-3.jpg"
              alt="金色白殼耳環"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/swiper-banner-6.jpg"
              alt="純銀拉花項鍊"
            />
          </div>
        </div>
        <!-- 左右箭頭 -->
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
        <!-- 分頁點點 -->
        <!-- <div class="swiper-pagination"></div> -->
      </div>

      <main class="container">
        <div class="row py-7 py-lg-10">
          <!-- 側邊目錄 -->
          <aside class="d-none d-lg-block col-lg-3 h-bottom-line">
            <ul class="d-none d-md-block list-unstyled text-dark text-start">
              <li>
                <a class="d-inline-block py-2 mx-3" href="#"
                  >全部商品 All products</a
                >
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">戒指 Rings</a>
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">耳環 Earrings</a>
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">手環 Bracelet</a>
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">項鍊 Necklace</a>
              </li>
              <li class="d-inline-block py-2 mx-3"></li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">925純銀 Silver</a>
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">14K金 14K-Gold</a>
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">18K金 18K-Gold</a>
              </li>
              <li class="d-inline-block py-2 mx-3"></li>
              <li><a class="d-inline-block py-2 mx-3" href="#">客製設計</a></li>
            </ul>
          </aside>
          <div class="col-lg-9 py-2">
            <!-- 麵包屑導航 -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  客製設計
                </li>
              </ol>
            </nav>
            <!-- 商品列表 -->
            <div class="row row-cols-2 row-cols-md-4 g-4 mb-10 mb-lg-20">
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-3.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="天使之愛十字架|純銀＋可刻字"
                    />
                    <img
                      src="../assets/images/product-3-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      style="width: 100%; height: 100%"
                      alt="天使之愛十字架|純銀＋可刻字"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                      天使之愛十字架項鍊 | 925純銀 / 可刻字
                    </h5>
                    <p
                      class="d-inline-block card-text display-8 text-primary py-2"
                    >
                      NT$1,980
                      <span
                        class="d-inline-block display-8 text-grey9F py-2 text-decoration-line-through"
                      >
                        NT$2,200
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="600"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-4.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="永恆經典結婚對戒｜18K金＋鑽石"
                    />
                    <img
                      src="../assets/images/product-4-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      alt="永恆經典結婚對戒｜18K金＋鑽石"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title display-8 text-dark pt-2">
                      永恆經典結婚對戒 | 18K金 + 鑽石 /可刻字
                    </h5>
                    <div>
                      <span class="color-choose color-gold me-1"></span
                      ><span class="color-choose color-silver"></span>
                    </div>
                    <p class="card-text display-8 text-primary py-2">
                      NT$38,800起
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="200"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-6.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="日出訂製｜18K金鑽石男戒"
                    />
                    <img
                      src="../assets/images/product-6-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      style="width: 100%; height: 100%"
                      alt="日出訂製｜18K金鑽石男戒"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                      日出訂製雙色鑽石男戒 | 18K金 + 鑽石 / 可刻字
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$39,800
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-9.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="山水情侶對戒"
                    />
                    <img
                      src="../assets/images/product-9-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      style="width: 100%; height: 100%"
                      alt="山水情侶對戒"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                      山水情侶對戒 | 925純銀 / 可刻字
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$4,800
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="300"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-10.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="永恆時光排鑽戒｜18金/可刻字"
                    />
                    <img
                      src="../assets/images/product-10-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      alt="永恆時光排鑽戒｜18金/可刻字"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title display-8 text-dark pt-2">
                      永恆時光排鑽戒 ｜ 18金 + 鑽石 / 可刻字
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$10,800
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="600"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-11.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="璀璨星球 - 生日寶石925純銀項鍊"
                    />
                    <img
                      src="../assets/images/product-11-1.JPG"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      alt="璀璨星球 - 生日寶石925純銀項鍊"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title display-8 text-dark pt-2">
                      璀璨星球純銀項鍊 | 925純銀 / 生日寶石 + 可刻字
                    </h5>
                    <div>
                      <span class="color-choose color-gold me-1"></span
                      ><span class="color-choose color-silver"></span>
                    </div>
                    <p class="card-text display-8 text-primary py-2">
                      NT$5,800起
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-12.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="皇室之約｜經典單鑽戒指"
                    />
                    <img
                      src="../assets/images/product-12-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      style="width: 100%; height: 100%"
                      alt="皇室之約｜經典單鑽戒指"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                      皇室之約 - 經典單鑽戒指 | 18K金 + 鑽石 / 可刻字
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$58,880
                    </p>
                  </div>
                </a>
              </li>
            </div>
          </div>
        </div>
      </main>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</html>
