<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>GreenSheep handmade jewelry</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>
    <div class="background-gradient">
        <div class="bg-image2 mt-16 text-white py-24 position-relative d-none d-md-inline-block">
            <h3 class="fs-2 mt-21 mb-10 text-white">EMBRACE YOUR INNER GREEN SHEEP</H3>
              <img style="top: 45%; left: 28.7%;" class="position-absolute translate-middle zindex-sticky" src="../assets/images/img_mark.png" alt="img_mark">
              <p class="col-5 fs-6 lh-lg mx-auto">綠羊 GreenSheep handmade jewelry 是獨特而優雅的。他代表著對自然的敬畏，彷彿迷人的綠洲，帶給人們內心的平靜與柔和。每一位佩戴者都像一隻羊，柔軟而堅定，他們不害怕與眾不同，因為他們知道自己是最優雅的綠羊。</p>
          </div> 
          
          <div class="container mt-15 text-start">
            <a class="text-white  py-1 px-2" href="index.html">首頁　｜</a>
            <a class="text-white  py-1 px-2" href="5-1.Story.html">專欄文章 Blog</a>
        </div>
        <div class="container mt-9">
            <h2 class="text-primary mb-21">專欄文章</h2>
       </div>
       <div class="container mb-9">
        <div class="col-12 position-relative">
          <img class="col-12 img-fluid " src="../assets/images/img-about-3.png" alt="">
            <a style="top: 30%; left: 50%;" href="5-2.blogPages.html" class="fs-2 position-absolute translate-middle text-white">「鑽石不是最閃的!珠寶手飾界的暗黑馬拉松選手」</a>
          </div>
       </div>
       <div class="container">
        <div class="ul d-flex row g-3 list-unstyled mb-3">
          <li class="col-4 position-relative ">
            <img class="w-100 bgCustomblog" src="../assets/images/img-evaluate-1.png" alt="">
            <p style="top: 30%; left: 50%;" class="fs-4 position-absolute translate-middle text-white">「鑽石不是最閃的!珠寶手飾界的暗黑馬拉松選手」</p>
          </li>
          <li class="col-4 position-relative">
            <img class="w-100 bgCustomblog" src="../assets/images/img-evaluate-1.png" alt="">
            <p style="top: 30%; left: 50%;" class="fs-4 position-absolute translate-middle text-white">「鑽石不是最閃的!珠寶手飾界的暗黑馬拉松選手」</p>
          </li>
          <li class="col-4 position-relative">
            <img class="w-100 bgCustomblog" src="../assets/images/img-evaluate-1.png" alt="">
            <p style="top: 30%; left: 50%;" class="fs-4 position-absolute translate-middle text-white">「鑽石不是最閃的!珠寶手飾界的暗黑馬拉松選手」</p>
          </li>
          <li class="col-4 position-relative ">
            <img class="w-100 bgCustomblog" src="../assets/images/img-evaluate-1.png" alt="">
            <p style="top: 30%; left: 50%;" class="fs-4 position-absolute translate-middle text-white">「鑽石不是最閃的!珠寶手飾界的暗黑馬拉松選手」</p>
          </li>
          <li class="col-4 position-relative">
            <img class="w-100 bgCustomblog" src="../assets/images/img-evaluate-1.png" alt="">
            <p style="top: 30%; left: 50%;" class="fs-4 position-absolute translate-middle text-white">「鑽石不是最閃的!珠寶手飾界的暗黑馬拉松選手」</p>
          </li>
          <li class="col-4 position-relative">
            <img class="w-100 bgCustomblog" src="../assets/images/img-evaluate-1.png" alt="">
            <p style="top: 30%; left: 50%;" class="fs-4 position-absolute translate-middle text-white">「鑽石不是最閃的!珠寶手飾界的暗黑馬拉松選手」</p>
          </li>
        </div>
       </div>
       <div class="container">
        <div class="ul d-flex row g-3 list-unstyled pb-21"> 
          <li class="col-3 position-relative ">
            <img class="w-100 bgCustomblog" src="../assets/images/img-evaluate-1.png" alt="">
            <p style="top: 30%; left: 50%;" class="fs-4 position-absolute translate-middle text-white">「鑽石不是最閃的!珠寶手飾界的暗黑馬拉松選手」</p>
          </li>
          <li class="col-3 position-relative ">
            <img class="w-100 bgCustomblog" src="../assets/images/img-evaluate-1.png" alt="">
            <p style="top: 30%; left: 50%;" class="fs-4 position-absolute translate-middle text-white">「鑽石不是最閃的!珠寶手飾界的暗黑馬拉松選手」</p>
          </li>
          <li class="col-3 position-relative ">
            <img class="w-100 bgCustomblog" src="../assets/images/img-evaluate-1.png" alt="">
            <p style="top: 30%; left: 50%;" class="fs-4 position-absolute translate-middle text-white">「鑽石不是最閃的!珠寶手飾界的暗黑馬拉松選手」</p>
          </li>
          <li class="col-3 position-relative ">
            <img class="w-100 bgCustomblog" src="../assets/images/img-evaluate-1.png" alt="">
            <p style="top: 30%; left: 50%;" class="fs-4 position-absolute translate-middle text-white">「鑽石不是最閃的!珠寶手飾界的暗黑馬拉松選手」</p>
          </li>
          <li class="col-3 position-relative ">
            <img class="w-100 bgCustomblog" src="../assets/images/img-evaluate-1.png" alt="">
            <p style="top: 30%; left: 50%;" class="fs-4 position-absolute translate-middle text-white">「鑽石不是最閃的!珠寶手飾界的暗黑馬拉松選手」</p>
          </li>
          <li class="col-3 position-relative ">
            <img class="w-100 bgCustomblog" src="../assets/images/img-evaluate-1.png" alt="">
            <p style="top: 30%; left: 50%;" class="fs-4 position-absolute translate-middle text-white">「鑽石不是最閃的!珠寶手飾界的暗黑馬拉松選手」</p>
          </li>
          <li class="col-3 position-relative ">
            <img class="w-100 bgCustomblog" src="../assets/images/img-evaluate-1.png" alt="">
            <p style="top: 30%; left: 50%;" class="fs-4 position-absolute translate-middle text-white">「鑽石不是最閃的!珠寶手飾界的暗黑馬拉松選手」</p>
          </li>
          <li class="col-3 position-relative ">
            <img class="w-100 bgCustomblog" src="../assets/images/img-evaluate-1.png" alt="">
            <p style="top: 30%; left: 50%;" class="fs-4 position-absolute translate-middle text-white">「鑽石不是最閃的!珠寶手飾界的暗黑馬拉松選手」</p>
          </li>
        </div> 
        </div> 
            </div>       
        </div>  
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</html>
